<div>
  <h1 class="text-center text-uppercase bbb" style="margin-top: 20px;color: aqua">welcome to arts department</h1><br>
  <p>arts is the best commerial and articala solution provided by us from the root directioryn of the department and best teacher  at, semper
    varius orci. Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad litora torquent
    per conubia In the United States, "college" may refer to a constituent part of a university or to a degree-awar
    at, semper
    varius orci. Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad litora torquent
    per conubia In the United States, "college" may refer to a constituent part of a university or to a degree-awar </p>
<br> <br>
    <h2 class="text-center text-primary text-uppercase">practical labs and classroom</h2>
    <div container>
        <div class="row">
          <div class="col-sm-4">
             <img src="/assets/aurts.jpg" alt="about" class="img-fluid mt-4" style="height: 300px" >
            </div>
            <div class="col-sm-4">
               <img src="/assets/child2.jpg" alt="about" class="img-fluid mt-4" style="height: 300px" >
             </div>
             <div class="col-sm-4">
                 <img src="/assets/child3.jpg" alt="about" class="img-fluid mt-4" style="height: 300px" >
               </div>
               <div class="col-sm-4">
                   <img src="/assets/college1.jpg" alt="about" class="img-fluid mt-4" style="height: 300px" >
                 </div>
                 <div class="col-sm-4">
                     <img src="/assets/college3.jpg" alt="about" class="img-fluid mt-4" style="height: 300px" >
                   </div>
                   <div class="col-sm-4">
                       <img src="/assets/login.jpg" alt="about" class="img-fluid mt-4" style="height: 300px" >
                     </div>
        </div>
       </div>
</div>
