<div class="navbar navbar-expand-sm bg-light navbar-dark fixed-top">
  <a routerLink="/" class=" navbar-brand text-success text-uppercase font-weight-bold">jivhala</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mymenu" style="margin-top: -1px">
    <span class="navbar-toggler-icon fa-2x" style="background-color:gray"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="mymenu">
    <ul class="navbar-nav ml-auto bbbb">
      <li class="nav-item "><a routerLink="/home" class="nav-link " style="margin-right: 40px">
          <h3 style="color: gray">Home</h3>
        </a></li>
      <li class="nav-item "><a routerLink="/category" class="nav-link " style="margin-right: 40px">
          <h3 style="color: grey">Category</h3>
        </a></li>
      <li class="nav-item "><a routerLink="/ourbest" class="nav-link " style="margin-right: 40px">
          <h3 style="color: grey">Our Best</h3>
        </a></li>
        <li class="nav-item "><a routerLink="/registration" class="nav-link " style="margin-right: 40px">
          <h3 style="color: grey">Register</h3>
        </a></li>
      <li class="nav-item "><a routerLink="/login" class="nav-link " style="margin-right: 40px">
          <h3 style="color: grey">Login</h3>
        </a></li>
      
    </ul>
  </div>