<div class="container  section-margin">
  <h2 class="section-heading">Indoor plants</h2>
      <div class="row">
    <div class="col-md-3 col-lg-3">
    <div class="card">
     <div class="product-imgMain">
      <img src="assets/i1.jpg" class="imageZoomhover" alt="Denim Jeans" style="width:100%">
     </div>
      <h1>Tailored Jeans</h1>
      <p class="price">$19.99</p>
      <p><button>Add to Cart</button></p>
      </div>
      </div>

    <div class="col-md-3 col-lg-3">
    <div class="card">
      <div class="product-imgMain">
        <img src="assets/i2.jpg" class="imageZoomhover" alt="Denim Jeans" style="width:100%">
       </div>
      <h1>Tailored Jeans</h1>
      <p class="price">$19.99</p>
      <p><button>Add to Cart</button></p>
      </div>
    </div>

  <div class="col-md-3 col-lg-3">
    <div class="card">
      <div class="product-imgMain">
        <img src="assets/i3.jpg" class="imageZoomhover" alt="Denim Jeans" style="width:100%">
       </div>
      <h1>Tailored Jeans</h1>
      <p class="price">$19.99</p>
      <p><button>Add to Cart</button></p>
      </div>
    </div>
      
    
    <div class="col-md-3 col-lg-3">
      <div class="card">
        <div class="product-imgMain">
          <img src="assets/i4.jpg" class="imageZoomhover" alt="Denim Jeans" style="width:100%">
         </div>
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p><button>Add to Cart</button></p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3">
        <div class="card">
          <div class="product-imgMain">
            <img src="/assets/i5.jpg" class="imageZoomhover" alt="Denim Jeans" style="width:100%">
           </div>
          <h1>Tailored Jeans</h1>
          <p class="price">$19.99</p>
          <p><button>Add to Cart</button></p>
          </div>
        </div>

        <div class="col-md-3 col-lg-3">
          <div class="card">
            <div class="product-imgMain">
              <img src="/assets/i3.jpg" class="imageZoomhover" alt="Denim Jeans" style="width:100%">
             </div>
            <h1>Tailored Jeans</h1>
            <p class="price">$19.99</p>
            <p><button>Add to Cart</button></p>
            </div>
          </div>

          <div class="col-md-3 col-lg-3">
            <div class="card">
              <div class="product-imgMain">
                <img src="/assets/i1.jpg" class="imageZoomhover" alt="Denim Jeans" style="width:100%">
               </div>
              <h1>Tailored Jeans</h1>
              <p class="price">$19.99</p>
              <p><button>Add to Cart</button></p>
              </div>
            </div>

            <div class="col-md-3 col-lg-3">
              <div class="card">
                <div class="product-imgMain">
                  <img src="/assets/i3.jpg" class="imageZoomhover" alt="Denim Jeans" style="width:100%">
                 </div>
                <h1>Tailored Jeans</h1>
                <p class="price">$19.99</p>
                <p><button class="btn-bgcolor">Add to Cart</button></p>
                </div>
              </div>

      </div>
</div>>
