.product-imgMain{
    position: relative;
    padding: 10px;
  }
  .card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    margin-bottom:10px !important;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 1px solid  #f0f0f0 !important;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #82ae46;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .product-imgMain img{
    width: 230px;
    height: 230px;
  }
   
  .section-heading
  {
text-align: center;
margin-bottom: 30px;
font-size: 26px;
font-weight: 600;
text-transform: capitalize;
  }
  .section-margin
{
    margin-top: 60px;
}