<div class="container  section-margin">
  <!-- <h2 class="section-heading">hello</h2> -->
      <div class="row productpagemanin">
    <div class="col-md-6 ppImgblick">
    
     <div class="productPageMainimg">
      <img src="assets/m2.jpg" class="imageZoomhover" alt="Denim Jeans" style="width:100%">
     </div>
    <div class="varientImg_main row">
<div class="col-md-4 col-sm-4 ">
  <div class="varImg">
    <img class="varImage img" src="assets/m2.jpg" alt="Varient Image" style="width:100%">
  </div>
</div>
<div class="col-md-4 col-sm-4">
  <div class="varImg">
    <img class="varImage img" src="assets/m2.jpg" alt="Varient Image" style="width:100%">
  </div>
</div>
<div class="col-md-4 col-sm-4">
  <div class="varImg">
    <img class="varImage img" src="assets/m2.jpg" alt="Varient Image" style="width:100%">
  </div>
</div>
    </div>
      </div>

      <div class="col-md-6 ppDiscbox">
     
      <h1>Tailored Jeans</h1>
      <p class="productDiscription">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
        Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
      </p>
      <p class="price"><span class="mrp">MRP : </span>$19.99</p>
      <p class="shipping"><span class="mrp">Shipping : </span>$19.99</p>
      <p class="dispacth">Dispatch in 2-3 weeks</p>
      <hr>
      <p class="stock"><span class="instock">In stock : </span>20</p>
      <hr>
      <p><button class="btn">Add to Cart</button></p>
      <hr>
      <a class="wishlist"><i class="fa fa-heart"> </i>Add to Wishlist</a>
      <hr>
    </div>
      </div>
</div>
