.navbar-brand
{
    font-size: 40px;
    margin-left: 70px;
    font-family: normal;
    
    
}
.carousel-inner img {
    width: 100%;
    height: 580px;
}

.background
{
    -webkit-background-size:cover;
    background-size: 100%,100%;
    background-size: cover;
  	background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 0px;

}
.carousel-caption
{
    padding-bottom: 150px;
    font-family: poppins;
}

@-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(1, 1);
    }
    to {
      -webkit-transform: scale(1.5, 1.5);
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.5, 1.5);
    }
  }
  
.image-zoom-slider{
    -webkit-animation: zoom 20s !important;
    animation: zoom 20s !important;
  }
  



.carousel-caption h3
{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.carousel-caption a
{
    background: green;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px; 
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
}

.kt-align-icon
 {
    margin: auto;
    border: 1px solid #fff;
    font-size: 70px;
    padding: 10px;
    color: #fff;

 }

 .icon-bg
 {
    line-height: 1.3;
    position: relative;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
 }

.icon-bg-1
{
    background-color: #e4b2d6;
}
.icon-bg-2
{
    background-color: #dcc698;;
}
.icon-bg-3
{
    background-color: #a2d1e1;
}
.icon-bg-4
{
    background-color: #dcd691;
}
.icon-title{
    font-size: 16px;
    margin-top: 8px;
    font-weight: 600;
}

.section-margin
{
    margin-top: 60px;
}

.span-text
{
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 500;
    
}
.icon-hover-color:hover
{
background-color:#82ae46;
}



.phead
{
    font-size: 15px;
}
.spapara{
   color:hsl(0, 100%, 50%); 
}
@media(max-width:750px)
		{
      .cat-butn-text-main {
        
        transform: translate(-1px, -2px) !important;
        margin: 15px 0px;
    }
    .icon-title {
      
      margin-bottom: 30px;
  }
  .carousel-caption{
    padding-bottom: 15px !important;
    font-family: poppins;
}
.carousel-inner img {
    width: 100%;
    height: 350px !important;
}
			.navbar-brand
			{
             margin-left:-40px;   
			}
        }
        .hhh
        {
            font-size: 30px;
        }

       
        .section-heading
        {
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
        }

        img.img.img-responsive {
          margin-bottom: 15px;
      }

      .cat-img-main {
        position: relative;
    }

    .catagory-title {
      position: absolute;
      bottom: 0%;
      background: #82ae46;
      padding: 12px;
      font-weight: 600;
      text-transform: capitalize;
      color: white;
      font-size: 15px;
  }
       
   .logo-text
   {
    color: #82ae46;
   }    

  .logo-text {
    font-size: 22px;
    font-weight: 800;
    text-align: center;
}

.style-btn-hover:hover
{
  background-color:green;
  border: 1px solid #82ae46;
  
}


.cata-txt {
  font-size: 19px;
  text-align: center;
}

.cat-shop-btn {
  padding: 8px 10px;
  background: #82ae46;
  border: 1px solid #82ae46;
  color: #fff !important;
  font-size: 19px;
  border-radius: 30px;
  text-align: center;
}

.cat-butn-text-main {
  text-align: center;
  transform: translate(-1px, 40px);
}


.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  margin-bottom:10px !important;
  max-width: 300px;
  margin: auto;
  text-align: center;
  border: 1px solid  #f0f0f0 !important;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #82ae46;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.imageZoomhover:hover{
  
    transform: scale(1.1);
    transition-duration: 0s;
}
  .product-imgMain{
    position: relative;
    padding: 10px;
  }

  .bg-image-content
  {
    background: url("/assets/bgimagesections.jpg") center no-repeat ;
    -webkit-background-size: cover;
    background-size: content;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 0px;

  }
  

/* 
  .btn-bgcolor{
    background: #82ae46;
  } */

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .studenttho
  {
      font-size: 40px;
  }
.product-imgMain img{
  width: 230px;
  height: 230px;
}
  @media screen and (max-width: 750px)
{
.feedback2courosel
{
width: 100% !important;
height: 450px;
}
.footerLogo {
  margin-left: 0 !important;
  width: 100% !important;
}
.bannerContent {
  width: 100%;
  transform:none;
}
}
.bannerContent {
  width: 50%;
  transform: translate(20%,70%);
}
.bannerBtn
{
  padding: 8px 10px;
  background: #82ae46;
  border: 1px solid #82ae46;
  color: #fff !important;
  font-size: 19px;
  border-radius: 25px;
  text-align: center;
}

.heading
{
  font-size: 40px;
    display: block;
    margin-bottom: 10px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #82ae46;
}
.subheading
{
  position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
}


.nn
{
  width: 40px;
  height: 40px;
  border:1px solid black;
  text-align: center;
  line-height: 38px;
  margin: 5px;
  box-shadow: 1px 2px 2px 1px white;

}
.ddd
{
margin-bottom:0;
border:0;
height:2px;
background-color:black;
width: 300px;
}
.footer-text {
  text-align: center;
  padding: 5px;
}

.social-ul {
  margin-bottom: 0 !important;
  list-style-type: none;
  padding-left: 0;
}